{% extends 'base.html' %}

{% block content %}
  <h2>Welcome to the your choice of platform to view your driving status! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If you are new to maderesawa, get started
    by creating a <a href="{% url 'driver_signup' %}">Driver account</a> or a <a href="{% url 'employer_signup' %}">Employer account</a>.
  </p>
  <hr>
  <h3>What's this about?</h3>
  <p>
    In this application, users can sign up as a drivers/general public or an employer. Employers are able to add drivers profile with details about location,driving behaviour etc and drivers can search on the profiles
    by using their driving licence
  </p>

{% endblock %}