{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-sm-10 col-12">

      <h2>Sign up as a <b> PSV Sacco Owner.</b> {{ user_type }}</h2>

        <hr>

      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">


          <h2><b>Note:</b> You will you this information to login to your account</h2>

        {{ owner_form|crispy }}

      <h2> Owner Information</h2>

        {{ ownerProf_form|crispy }}

      <h2>Sacco Information</h2>

        {{ saccoprof|crispy }}





        <button type="submit" class="btn btn-success">Sign up</button>
      </form>
    </div>
  </div>
{% endblock %}