{% extends 'base.html' %}

{% block content %}

<a href="#">Create new driver</a>

<hr/>

    {%  if drivers and drivers|length > 0  %}
        <table style="width: 800px;">
            <thead>
                <tr>
                    <th style="width:50%; text-align:left">First name</th>
                    <th style="width:50%; text-align:left">Last name</th>
                    <th style="width:50%; text-align: left">Email</th>
                    <th style="width:50%; text-align:left">Licence</th>
                    <th style="width:50%; text-align:left">Telephone</th>
                    <th style="width:50%; text-align:left">Route</th>
                    <th style="width:50%; text-align:left">Recommentaion</th>


                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for driver in drivers  %}
                <tr>
                    <td>{{ driver.fname }}</td>
                    <td>{{ driver.sname }}</td>
                    <td>{{ driver.email }}</td>
                    <td>{{ driver.dl }}</td>
                    <td>{{ driver.route }}</td>
                    <td>{{ driver.emp_rmks }}</td>
                    <td>{{ driver.phone }}</td>

                    <td>
                        <a href="#/{{ drivers.id }}">Edit</a>
                        <a href="#/{{ drivers.id }}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No records found
    {% endif %}


{% endblock %}
