{% extends 'base.html' %}

{% block content %}

<a href="{% url 'drivercreate' %}">Create new driver</a>
</hr>

    {%  if drivers and drivers|length > 0  %}

        <table class ="table" id="drivers-table" >
            <thead>
                <tr>
                    <th>#</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Licence</th>
                    <th>Telephone</th>
                    <th>Route</th>
                    <th>Recommentaion</th>

                </tr>
            </thead>
            <tbody>
            {% for driver in drivers  %}
                <tr>
                    <td>{{ driver.id }}</td>
                    <td>{{ driver.fname }}</td>
                    <td>{{ driver.sname }}</td>
                    <td>{{ driver.email }}</td>
                    <td>{{ driver.dl }}</td>
                    <td>{{ driver.phone }}</td>
                    <td>{{ driver.route }}</td>
                    <td>{{ driver.emp_rmks }}</td>

                    <td>
                        <a href="#/{{ drivers.id }}">Edit</a>
                        <a href="#/{{ drivers.id }}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
      <td colspan="7" class="text-center bg-warning">No Drivers Found</td>
    {% endif %}


{% endblock %}
